body {
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1QcIyu702mI3q884-q2MqSJ1uegjlPcF770KamBNlmEAsvtQX') !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
