body {
  background: url('https://media.giphy.com/media/3ov9hFds00b2o/giphy.gif') !important;
}
 
#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

h1{
    font-family: cursive;
    color: red;
}
